.section1 .wrapper{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 150px;
    text-transform: uppercase;
}

.section1 .wrapper>div:first-child{
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 0;
    font-size: 4em;
}

.section1 .wrapper>div:first-child>img{
    object-fit: contain;
}

.section1 .wrapper>div:not(:first-child){
    margin-left: 45px;
}

.section1 .wrapper>div:not(:first-child)>a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 2em;
}

.section1 .wrapper>div:last-child>a>button{
    text-transform: uppercase;
    border-radius: 6px;
    background-color: black;
    color: white;
    height: 43px;
    width: 94px;
    font-weight: 500;
}