


.section11{
    display: flex;
    position: relative;
    width: 100%;
    background-color: black;
    color: white;
    height: 382px;
    align-items: flex-end;
    font-family: 'Roboto';
    font-style: normal;
}

.section11 .wrapper{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 300px;
    align-items: flex-start;

}

.section11 .wrapper div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.section11 .wrapper>div:first-child{
    flex: 5;
}

.section11 .wrapper>div:first-child>div:first-child{
    font-weight: 900;
    font-size: 4em;
    font-family: 'Poppins';
    font-style: normal;
    color: white;
    padding-top: 3%;
}

.section11 .wrapper>div:first-child>div:nth-child(2){
    color: #8E8E8E;
    font-size: 1.8em;
    font-weight: 400;
    line-height: 25px;
    margin-top: 20px;
}

.section11 .wrapper>div:first-child>div:last-child{
    display: flex;
    position: relative;
    flex-direction: row;
    margin-top: 5%;
}

.section11 .wrapper>div:first-child>div:last-child>div{
    position: relative;
    display: block;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    background-color: #EBD96B;
    border-radius: 14px;
}

.section11 .wrapper>div:first-child>div:last-child>div>a{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.section11 .wrapper>div:not(:first-child){
    flex: 2;
    font-size: 1.8em;
    font-weight: 400;
}

.section11 .wrapper>div:not(:first-child) h4{
    color: #D9D9D9;
}

.section11 .wrapper>div:not(:first-child) a{
    text-decoration: none;
    color: #7A7A7A;
    line-height: 34px;
}