@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    /*background-color: cadetblue;*/
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 9px;
}
.wrapper{
    /* base width - 1720 x - 0.7*/
    width: 1200px;
    min-height: 40px;
    margin: 0 auto;
}

body>div:nth-child(2n){
    /*background-color: dimgrey;*/
}


/*SECTION 1*/

.section1 .wrapper{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 150px;
    text-transform: uppercase;
}

.section1 .wrapper>div:first-child{
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 0;
    font-size: 4em;
}

.section1 .wrapper>div:first-child>img{
    object-fit: contain;
}

.section1 .wrapper>div:not(:first-child){
    margin-left: 45px;
}

.section1 .wrapper>div:not(:first-child)>a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 2em;
}

.section1 .wrapper>div:last-child>a>button{
    text-transform: uppercase;
    border-radius: 6px;
    background-color: black;
    color: white;
    height: 43px;
    width: 94px;
    font-weight: 500;
}


/*Section 2*/

.section2 .wrapper{
    display: flex;
    position: relative;
    flex-direction: row;
    background-color: #F4F6F5;
    border-radius: 40px;
    height: 500px;

    overflow: hidden;
}
.left-side{
    position: relative;
    display: flex;
    flex: 5;
    flex-direction: column;
    /*height: 100%;*/
    padding: 4%;
    justify-content: space-evenly;
    /*padding-left: 3%;*/
    /*background-color: crimson;*/
}
.left-side div{
    /*background-color: greenyellow;*/
    border-radius: 20px;
    flex: 2;
    position: relative;
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
    /*align-content: space-evenly;*/
    /*padding: ;*/
    /*margin: auto auto;*/
    /*justify-content: center;*/
}
.left-side .left_side_slogan{
    font-size: 7em;
    font-weight: 900;
    /*padding-bottom: 5%;*/
    /*margin-top: 5%;*/
}
.left-side .left_side_subslogan{
    font-size: 2em;
    font-weight: 500;
}
.left-side div img{
    height: 22px;
    margin-right: 30px;
}
.left-side div a button{
    border-radius: 7px;
    background-color: black;
    width: 150px;
    height: 60px;
    color: white;
    font-size: 2em;
    font-weight: 500;
}
.right-side{
    position: relative;
    flex: 6;
}
.right-side img:nth-child(1){
    position: absolute;
    height: 92%;
    bottom: 0;
}
.right-side img:not(:nth-child(1)){
    width: 32px;
}
.right-side img:nth-child(2){
    position: absolute;
    left: 0;
    top:8%;
}
.right-side img:nth-child(3){
    position: absolute;
    right: 30%;
    top:calc(8% + 16px);
}
.right-side img:nth-child(4){
    position: absolute;
    right: 20%;
    bottom: calc(5% + 32px);
}
.right-side img:nth-child(5){
    position: absolute;
    left: 2.5%;
    bottom: 5%;
}



/*Section 3*/
.section3{
    background-color: #EBD96B;
    margin-top: 45px;
}
.section3 img{
    height: 45px;
}
.section3 ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 38px 3%;
}
.section3 li{
    display: block;
}


/*SECTION 04*/

.section4{
    padding-top: 50px;
    padding-bottom: 80px;
    text-transform: uppercase;
}

.section4 .fourth-content{
    display: block;
    position: relative;
    width: fit-content;
    /*background-color: greenyellow;*/
}

.section4 .fourth-content .fourth-slogan{
    display: block;
    font-size: 4em;
    font-weight: 900;
    /*background-color: crimson;*/
    width: fit-content;
    /*z-index: 2;*/
}

.fourth-content img{
    display: block;
    position: absolute;
    width: 155px;
    right: -5%;
    bottom: 0;
    z-index: -1;
}


/*SECTION 5*/
.section5 .wrapper{
    display: flex;
    position: relative;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-between;
    height: 585px;
    margin-bottom: 25px;
    /*background-color: greenyellow;*/
}

.section5 .wrapper div{
    /*display: flex;*/
    position: relative;
    /*overflow: hidden;*/
    border-radius: 14px;
    width: 28%;
    height: 100%;
    /*background-color: crimson;*/
    /*padding-bottom: 7px;*/
}
.section5 .wrapper div a {
    position: relative;
    text-decoration: none;
    color: black;
}

.section5 .wrapper div a img{
    /*position: absolute;*/
    width: 100%;
    object-fit: cover;
}

.section5 .wrapper div a p{
    font-size: 2.3em;
    /*background-color: #F4F6F5;*/
    margin-bottom: 0;
    padding-bottom: 0;

}

.section5 .wrapper div a p:last-child{
    font-size: 1.5em;
    /*background-color: #F4F6F5;*/
    line-height: 0.7em;
}


/*SECTION 6*/

.section6 .wrapper{
    display: flex;
    position: relative;
    margin-top: 100px;
    /* base width - 1720 x - 0.7*/
    /*width: 1200px;*/
    /*margin: 0 auto;*/
    height: 580px;
    background: linear-gradient(1.32deg, #E0C340 0.13%, #DFC23E 3.97%, #E1C441 7.2%, #E3C743 10.13%, #E4C542 12.98%, #E6C744 15.99%, #E7C845 19.52%, #E5C643 23.96%, #E6C945 30.43%, #E3C743 36.49%, #E9CA48 42.49%, #EDCE49 49.35%, #F0D44C 55.42%, #F4D84F 61.43%, #F6DA52 65.74%, #F7DB53 72.23%, #F9DD55 77.43%, #F9DF56 83.84%, #FAE157 91.52%, #F9DF56 97.87%);
}

.section6 .wrapper .left-part{
    position: relative;
    display: flex;
    flex: 99;
}


.section6 .wrapper .left-part img:first-child{
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
}

.left-part img:not(:first-child){
    width: 42px;
}

.left-part img:nth-child(2){
    position: absolute;
    left: 14%;
    top:16%;
}

.left-part img:nth-child(3){
    position: absolute;
    right: 16%;
    top:9%;
}

.left-part img:nth-child(4){
    position: absolute;
    right: 10%;
    bottom: 25%;
}

.left-part img:nth-child(5){
    position: absolute;
    left: 17%;
    top: 51%;
}

.section6 .wrapper .right-part{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    flex: 99;
    margin-top: 7%;
    margin-bottom: 8%;
    padding-left: 7%;
}

.section6 .right-part .slogan{
    position: relative;
    text-transform: uppercase;
    font-size: 8em;
    font-weight: 900;
    margin: 0;
    z-index: 2;
}

.section6 .right-part div:nth-child(3){
    margin-top: 20px;
}

.section6 .right-part .subslogan{
    font-weight: 500;
    font-size: 2em;
}

.section6 .right-part .date{
    margin-top: 20px;
    font-weight: 700;
    font-size: 2.5em;
}

.section6 .right-part a button{
    margin-top: 20px;
    width: 185px;
    height: 65px;
    border-radius: 6px;
    background-color: black;
    color: white;
    font-size: 2em;
}

.section6 .right-part .slogan .background{
    position: absolute;
    height: 100%;
    width: 60%;
    background-color: white;
    top: 0;
    left: -15px;
    transform: rotate(-3deg);
    z-index: -1;
}


/*SECTION 07*/

.section7{
    padding-top: 80px;
    padding-bottom: 50px;
    text-transform: uppercase;
}

.section7 .fourth-content{
    display: block;
    position: relative;
    width: fit-content;
    /*background-color: greenyellow;*/
}

.section7 .fourth-content .fourth-slogan{
    display: block;
    font-size: 4em;
    font-weight: 900;
    /*background-color: crimson;*/
    width: fit-content;
    /*z-index: 2;*/
}

.fourth-content img{
    display: block;
    position: absolute;
    width: 155px;
    right: -3%;
    bottom: 0;
    z-index: -1;
}


/*SECTION 8*/


.section8 .wrapper{

    display: flex;
    position: relative;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-between;
    height: 480px;
    padding-bottom: 5px;
    /*background-color: crimson;*/
}

.section8 .wrapper div{
    position: relative;
    border-radius: 14px;
    height: 100%;
}

.section8 .wrapper div a {
    position: relative;
    text-decoration: none;
    color: black;
}

.section8 .wrapper div img{
    object-fit: cover;
    height: 80%;
}

.section8 .wrapper div a p{
    font-size: 2.3em;
    /*background-color: #F4F6F5;*/
    margin-bottom: 0;
    padding-bottom: 0;

}

.section8 .wrapper div a p:last-child{
    font-size: 1.5em;
    /*background-color: #F4F6F5;*/
    line-height: 0.7em;
}


/*SECTION 9*/

.section9 .wrapper{
    display: flex;
    position: relative;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-evenly;
    height: 500px;
}

.section9 .wrapper>div{
    position: relative;
    display: flex;
    height: 100%;
    width: 500px;
}

.section9 .wrapper .right-part{
    position: relative;
    /*flex: 11;*/
}

.section9 .right-part div:nth-child(2){
    position: absolute;
    border: 2px solid #EFECEB;
    border-radius: 50%;
    width: 87%;
    height: 87%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}

.section9 .right-part div:nth-child(3){
    position: absolute;
    border: 2px solid #EFECEB;
    border-radius: 50%;
    width: 72%;
    height: 72%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}

.section9 .right-part div:nth-child(4){
    position: absolute;
    border: 2px solid #EFECEB;
    border-radius: 50%;
    width: 58%;
    height: 58%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}

.section9 .wrapper .right-part .mobile{
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%) scale(115%);
}

.section9 .right-part img:nth-last-child(1){
    position: absolute;
    right: 12%;
    top: 5.7%;
    scale: 70%;
}

.section9 .right-part img:nth-last-child(2){
    position: absolute;
    right: 15%;
    bottom: 15%;
    scale: 50%;
}

.section9 .right-part img:nth-last-child(3){
    position: absolute;
    left: 11%;
    bottom: 3.6%;
    scale: 50%;
}

.section9 .right-part img:nth-last-child(4){
    position: absolute;
    left: 16%;
    top: 5.7%;
    scale: 70%;
}

.section9 .wrapper .left-part{
    flex: 11;
    display: flex;
    position: relative;
    height: 80%;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-left: 10%;
}

.section9 .wrapper .left-part>div{
    height: fit-content;
}

.section9 .wrapper .left-part .slogan{
    width: fit-content;
    font-weight: 900;
    font-size: 4em;
    margin: 0;
    padding: 0;
}

.section9 .wrapper .left-part .subslogan{
    width: 60%;
    font-weight: 500;
    font-size: 2em;
}

.section9 .left-part div:last-child{
    height: fit-content;
}

.section9 .wrapper .left-part a button{
    width: 143px;
    height: 50px;
    background-size: cover;
    margin: 10px;
}


.section9 .wrapper .left-part .google{
    background-image: url("./img/google.png");

}

.section9 .wrapper .left-part .apple{
    background-image: url("./img/apple.png");

}

/*SECTION 10*/

.section10{
    background-color: #E5C643;
    width: 100%;

}

.section10 .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 436px;

}

.section10 .wrapper div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.section10 .wrapper>div:first-child{
    display: flex;
    flex-direction: column;
    font-size: 6em;
    font-weight: 900;
}

.section10 .wrapper>div:nth-child(2){
    font-size: 3em;
    font-weight: 400;
}

.section10 .wrapper>div>form{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.section10 .wrapper div .email{
    height: 61px;
    width: 402px;
    font-weight: 400;
    font-size: 2em;
    border-radius: 7px;
    border: none;
}

.section10 .wrapper>div>form>button{
    position: absolute;
    right: 2%;
    border-radius: 6px;
    width: 113px;
    height: 47px;
    color: white;
    background-color: black;
    text-transform: uppercase;
    font-size: 3em;
}



/*SECTION 11*/


.section11{
    display: flex;
    position: relative;
    width: 100%;
    background-color: black;
    color: white;
    height: 382px;
    align-items: flex-end;
    font-family: 'Roboto';
    font-style: normal;
}

.section11 .wrapper{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 300px;
    align-items: flex-start;

}

.section11 .wrapper div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.section11 .wrapper>div:first-child{
    flex: 5;
}

.section11 .wrapper>div:first-child>div:first-child{
    font-weight: 900;
    font-size: 4em;
    font-family: 'Poppins';
    font-style: normal;
    color: white;
    padding-top: 3%;
}

.section11 .wrapper>div:first-child>div:nth-child(2){
    color: #8E8E8E;
    font-size: 1.8em;
    font-weight: 400;
    line-height: 25px;
    margin-top: 20px;
}

.section11 .wrapper>div:first-child>div:last-child{
    display: flex;
    position: relative;
    flex-direction: row;
    margin-top: 5%;
}

.section11 .wrapper>div:first-child>div:last-child>div{
    position: relative;
    display: block;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    background-color: #EBD96B;
    border-radius: 14px;
}

.section11 .wrapper>div:first-child>div:last-child>div>a{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.section11 .wrapper>div:not(:first-child){
    flex: 2;
    font-size: 1.8em;
    font-weight: 400;
}

.section11 .wrapper>div:not(:first-child) h4{
    color: #D9D9D9;
}

.section11 .wrapper>div:not(:first-child) a{
    text-decoration: none;
    color: #7A7A7A;
    line-height: 34px;
}






/*MEDIA*/
@media (min-width:900px) and (max-width:1200px) {
    body{
        /*background-color: salmon;*/
    }
    .wrapper{
        width: 900px;
    }
    .section2 .wrapper{
        height: 375px;
    }

    .section2 .left-side .left_side_slogan{
        font-size: 5em;
    }

    .section5 .wrapper{
        height: 440px;
    }

    .section6 .wrapper{
        height: 435px;
    }

    .section6 .wrapper .right-part {
        margin-top: 7%;
    }

    .section6 .wrapper .right-part .slogan{
        font-size: 6em;
    }

    .section6 .wrapper .right-part .subslogan{
        font-size: 1.7em;
    }

    .section6 .wrapper .right-part .date{
        font-size: 2em;
    }

    .section8 .wrapper{
        height: 380px;
    }

    .section9 .wrapper{
        height: 350px;
    }

    .section9 .wrapper .right-part{
        width: 350px;
    }





}
@media (max-width:900px) {
    body{
        /*background-color: yellow;*/
    }
    .wrapper{
        width: 450px;
    }


    .section1 .wrapper{
        flex-wrap: nowrap;
        justify-content: space-between;
        /*height: 200px;*/
    }
    .section1 .wrapper>div:first-child{
        display: none;
    }

    .section1 .wrapper>div:not(:first-child){
        margin-left: 0;
    }

    .section1 .wrapper>div{
        margin-left: 0;
    }

    .section1 .wrapper>div:last-child{
       /*position: absolute;*/
    }

    .section1 .wrapper>div{
        font-size: 0.7em;
    }



    .section3 img{
        height: 25px;
    }

    .section2 .wrapper{
        height: 375px;
    }

    .section2 .left-side .left_side_slogan{
        font-size: 5em;
    }

    .section2 .right-side{
        display: none;
    }

    .section4 .wrapper{
        display: flex;
        justify-content: center;
    }

    .section5 .wrapper{
        /*flex-wrap: wrap;*/
        flex-direction: column;
        height: fit-content;
        align-items: center;
    }

    .section5 .wrapper div{
        width: 300px;
        height: 440px;
        margin-bottom: 20px;
    }

    .section5 .wrapper div a p{
        position: absolute;
        transform: translateY(-450px);
        margin-left: 15px;

    }

    .section5 .wrapper div a p:last-child{
        display: none;
    }



    .section6 .wrapper{
        height: 435px;
        background-image: url("./img/yellow-girl.png");
        background-size: cover;
    }

    .section6 .wrapper .right-part {
        align-items: center;
        margin-top: 7%;
    }

    .section6 .wrapper .right-part .background{
        display: none;
    }

    .section6 .wrapper .right-part button{
        background-color: rgba(0, 0, 0, 0.35);
    }

    .section6 .wrapper .right-part .slogan{
        font-size: 5em;
        color: rgba(0, 0, 0, 0.6);
    }

    .section6 .wrapper .right-part div:first-child{
        position: absolute;
        left: 0;
    }

    .section6 .wrapper .right-part div:first-child:after{
        /*content: 'SALE!';*/
        /*position: absolute;*/
    }

    .section6 .wrapper .right-part div:nth-child(2){
        color: rgba(0, 0, 0, 0);
    }

    .section6 .wrapper .right-part .slogan:nth-child(2)::after{
        content: 'SALE';
        color: rgba(0, 0, 0, 0.6);
        position: absolute;
        right: -80px;
        top: 50px;
    }

    .section6 .wrapper .right-part div a button{
        position: absolute;
        left: 0;
        bottom: -12px;
        width: 150px;
    }

    .section6 .wrapper .right-part .subslogan{
        position: absolute;
        left: 2px;
        width: 150px;
        font-size: 1.7em;
        color: rgba(0, 0, 0, 0.6);
    }

    .section6 .wrapper .right-part .date{
        position: absolute;
        width: 80px;
        right: 0;
        bottom: 65px;
    }

    .section6 .wrapper .right-part .date{
        font-size: 2em;
        color: rgba(0, 0, 0, 0.6);
    }

    .section6 .wrapper .left-part{
        display: none;
    }

    .section7 .wrapper{
        display: flex;
        justify-content: center;
    }


    .section8 .wrapper{
        flex-direction: column;
        height: fit-content;
        align-items: center;
        width: 450px;
    }

    .section8 .wrapper div{
        display: block;
        position: relative;
        /*height: 300px;*/
        margin-bottom: 60px;
    }

    .section8 .wrapper div a img{
        display: block;
        position: relative;
        width: 100%;
        object-fit: cover;
    }

    .section8 .wrapper div a p{
        position: absolute;
        transform: translateY(-300px);
        margin-left: 15px;
        width: 130px;
        font-size: 3em;
    }

    .section8 .wrapper .left-part a p:nth-child(2){
        position: absolute;
        right: 15px;
        /*transform: translateY(-300px);*/
    }

    .section8 .wrapper div a p:nth-child(3){
        display: none;
    }

    .section9 .wrapper{
        height: 350px;
    }

    .section9 .wrapper .left-part{
        margin-left: 0;
        padding-left: 0;
    }

    .section9 .wrapper .left-part .slogan{
        font-size: 4em;
    }

    .section9 .wrapper .left-part .subslogan{
        font-size: 2em;
        width: 100%;
    }

    .section9 .wrapper .right-part img:not(:first-child){
        display: none;
    }

    .section9 .wrapper .right-part>div{
        display: none;
    }

    .section9 .wrapper .right-part .mobile{
        position: absolute;
        display: block;
        /*scale: 80%;*/
        right: 0;
    }

    .section10 .wrapper>div:first-child{
        font-size: 4em;
        /*align-content: flex-start;*/
    }

    .section10 .wrapper>div:first-child>div:first-child{
        width: 300px;
    }

    .section10 .wrapper>div:nth-child(2){
        font-size: 2em;
        width: 280px;
        text-align: center;
    }


    .section11 .wrapper>div:first-child>div:first-child{
        font-size: 3.5em;
    }

    .section11 .wrapper>div:first-child>div:last-child>div{
        width: 30px;
        height: 30px;
    }

    .section11 .wrapper>div:not(:first-child){
        flex: fit-content;
        margin-left: 3px;
        margin-right: 3px;
        font-size: 1.5em;
    }




}
